.login-container 
  /* Estilos para dispositivos móveis */
  @media (max-width: 767px) 
    /* Exemplo de estilos para dispositivos móveis */
    padding: 20px

    h2 
      font-size: 24px
    

    form 
      margin-top: 20px

      input 
        margin-bottom: 10px
      
    p
      margin-top: 20px
      text-align: center
      font-size: 14px
